@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Oswald:wght@200..700&display=swap');

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #BF0404;
  background-color: #FAF7F3;
  font-family: "Oswald", sans-serif;
  
  
}



